body {
    background-color: purple;
}
img{
    border-radius: 70px;
    border-style: solid;
}
h1{
    text-align: center;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    cursor: auto;
    
}